@import 'mixins';
@import 'variables';

.container {
    @include sectionCommonHeader;
    display: flex;
    align-items: center;
}

.profileNameWithIcon {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
}

.icon {
    height: 4rem;
    width: 4rem;
    background-color: gray;
    border-radius: 999px;
    padding: 0.8rem;
    fill: var(--primary-color);
}